<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Artesanías el Hogar</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <div class="card text-bg-dark text-center mb-10" style="max-width: 18rem;">
            <div class="card-body">
                Bienvenidos al sitio Artesanías el Hogar, el mejor lugar para conseguir ese recuerdo único que está buscando...
            </div>
        </div>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>

    </body>
</html>
